
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--{{text}}-->
    {{ escape(text) }}
</head>
<body>
<li class="house-item">
    <div class="house-desc">
        <div class="house-price">￥<span>398</span>/晚</div>
        <div class="house-intro">
            <span class="house-title">{{t("title")}}宽窄巷子+160平大空间+文化保护区双地铁</span>
            <em>整套出租 - {{score}}分/6点评 - 北京市丰台区六里桥地铁</em>
        </div>
    </div>
</li>
</body>
</html>